.App {
  min-height: 100vh;
}

body{
  text-align: center;
  background: rgb(182,65,65);
  background: linear-gradient(0deg, rgba(182,65,65,1) 0%, rgb(52,58,64) 100%);
}

.main-navigation {
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
} 

a.nav-link:hover {
  height: 38px;
  background-color: #F65164;
  color:white;
  border-radius:8px;
  transition: 0.3s;
}

.table{
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

/* tr:nth-child(odd) {
  background-color: white;
} */
/* ^^ odd not working */

td{
  background-color: white;
  background-color: rgba(0,0,0,0);
}

/* tr:nth-child(even) {
  background-color:#F2DEDE;
} */

th {
  background-color: #E95F5F;
}

.marquee {
  margin: 0 auto;
  background-color: black;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 18.5px;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  color:white;
  animation: marquee 15s linear infinite;
}

marquee{
  margin-top: 18.5px;
} 

/* .marquee{
  height:20px;
  overflow: hidden;
  position: relative;
  background-color: black;


} */



/* .marquee span:hover {
  animation-play-state: paused
} */

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.contact{
  text-align: left;
}

.newsCard{
  min-width: 65%;
  margin-left: 9%;
  margin-right: 9%;
  margin-top:15px;
  border-color: #F65164;
}

#dropdown-button-drop-down{
  color: white;
  font-weight: bold;
  background-color: #F65164;
  margin-bottom: 9.5px;
  border-color: #fff;
  border-width:1.5;
}

.progress-bar { 
  background-color: #449BE2;
  color: rgb(52,58,64);
  font-weight: 500;
}


/* .marquee-container, .marquee-wrap  {
  overflow:hidden;
} */

#footer{
  left: 0;
  bottom: 0;
  width: 100%;
}