.App {
  min-height: 100vh;
}

body{
  text-align: center;
  background: rgb(182,65,65);
  background: linear-gradient(0deg, rgba(182,65,65,1) 0%, rgba(255,255,255,1) 100%);
}

.main-navigation {
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
} 

a.nav-link:hover {
  height: 38px;
  background-color: #F2DEDE;
  color:white;
  border-radius:8px;
  transition: 0.3s;
}

.table{
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

tr:nth-child(odd) {
  background-color: white;
}

/* ^^ odd not working */

tr:nth-child(even) {
  background-color:#F2DEDE;
}


th {
  background-color: #D47474;
}


.marquee {
  min-width: 100vh;
  margin: 0 auto;
  background-color: black;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  color:white;
  animation: marquee 15s linear infinite;
}

/* .marquee span:hover {
  animation-play-state: paused
} */


@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.contact{
  text-align: left;
}

.newsCard{
  min-width: 80%;
  margin-left: 8%;
  margin-right: 8%;
  margin-top:15px;
  border-color: #e95f5f;
}
